*.b\#*
*.s\#*
.*lck
*.pro
pcb/routed.sch
.*.d
*.o
*.elf
*.hex
pcb/charliewatch/fp-info-cache
pcb/fp-info-cache
pcb/sym-lib-table
pcb/empty.kicad_wks
firmware/.ccsproject
firmware/.cproject
firmware/.project
*.prefs
firmware/cc430f5137.ld
firmware/targetConfigs/CC430F5137.ccxml
firmware/targetConfigs/readme.txt
firmware/.launches/*.launch
